/* width: 1320px; */
/* 패딩 양쪽으로 20px 컨텐츠는 1280px */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&family=Poppins:wght@400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #111;
  font-size: 16px;
}

.center_box {
  padding: 0 20px;
  width: 1320px;
  margin: 0 auto;
}

.header {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.nav {
  display: flex;
  font-family: "Poppins", sans-serif;
}

.nav li a {
  display: inline-block;
  margin-right: 30px;
  font-weight: 400;
}

.top_menu {
  display: flex;
}

.top_menu li:last-child {
  margin-left: 40px;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product_new .product_title {
  font-family: "Poppins", sans-serif;
}

/* 헤더 */
.visual {
}

.visual .center_box {
  height: 728px;
  background-image: url("../images/main_visual.png");
  background-repeat: no-repeat;
  background-position: center right;
  position: relative;
}

.visual .center_box .details {
  position: absolute;
  top: 364px;
  left: 20px;
}

.visual .center_box .details h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  font-weight: 800;
}

.visual .center_box .details p {
  padding-top: 15px;
  padding-bottom: 18px;
  font-family: "Poppins", sans-serif;
}

.visual .center_box .details button {
  width: 256px;
  height: 64px;
  border: none;
  background-color: #111;
  color: #fff;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.product_01 {
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.product_01 li {
  width: 632px;
  height: 642px;
  background-color: #111;
  position: relative;
}

.product_01 li h2 {
  font-size: 40px;
  font-weight: 800;
  position: absolute;
  top: 51px;
  left: 48px;
}

.product_01 li a {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  position: absolute;
  top: 560px;
  left: 48px;
}

.product_new {
  padding-top: 130px;
}

.product_new ul {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-bottom: 63px;
}

.product_new ul::after {
  width: 100%;
  height: 7px;
  background-color: #c4c4c4;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
}

.product_new ul li .name {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.product_new ul li .cost {
  font-size: 18px;
  font-weight: 600;
}

.product_new .title h2 {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 26px;
}

/* 프로덕트 탑 */
.product_top {
  padding-top: 130px;
}

.product_top ul {
  display: flex;
  justify-content: space-between;
}

.product_top ul li .name {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.product_top ul li .cost {
  font-size: 18px;
  font-weight: 600;
}

.product_top .title h2 {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 26px;
}

/* 인포스 */
.infos {
  height: 612px;
  position: relative;
}

.infos .content {
  position: absolute;
  top: 220px;
  left: 530px;
}

.infos .content h2 {
  font-size: 40px;
  font-weight: 800;
}

.infos .content p {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 28px;
  font-family: "Poppins", sans-serif;
}

.infos .content button {
  width: 254px;
  height: 64px;
  background-color: #fff;
  cursor: pointer;
}

/* 바텀 */
.footer {
  height: 394px;
  background-color: #111;
  color: #fff;
  font-family: "Poppins", sans-serif;
  position: relative;
}

.footer .center_box {
  position: relative;
}

.overview {
  display: flex;
  justify-content: space-between;
}

.overview .footer_menu {
  font-family: "Poppins", sans-serif;
}

.footer_menu .contents {
  display: flex;
}

.overview .footer_menu .contents .menu_title {
  font-size: 12px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.25);
}

.overview .footer_menu .menu_family {
  line-height: 30px;
  font-size: 14px;
}

.footer .line {
  margin-right: 114px;
  margin-top: 116px;
}

.footer .footer_contents {
  margin-top: 116px;
  width: 200px;
}

.footer .footer_contents .social_icons {
  display: flex;
  justify-content: space-between;
}

.footer .footer_contents p {
  margin-bottom: 20px;
}

.footer .copyright {
  position: absolute;
  top: 350px;
  left: 0;
}
