/* width: 1320px; */
/* 패딩 양쪽으로 20px 컨텐츠는 1280px */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&family=Poppins:wght@400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #111;
  font-size: 16px;
}

.center_box {
  padding: 0 20px;
  width: 1320px;
  margin: 0 auto;
}

.header {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.nav {
  display: flex;
  font-family: "Poppins", sans-serif;
}

.nav li a {
  display: inline-block;
  margin-right: 30px;
  font-weight: 400;
}

.top_menu {
  display: flex;
}

.top_menu li:last-child {
  margin-left: 40px;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product_new .product_title {
  font-family: "Poppins", sans-serif;
}
/* 메인 상품 */
.product {
  margin-top: 126px;
  margin-bottom: 132px;
  height: 632px;
}

.product .main_product {
  display: flex;
  justify-content: space-between;
}

.product .main_product .photo {
  width: 632px;
  height: 632px;
  background-color: #e1e1e1;
  position: relative;
}

.product .main_product .photo .shoes_cut {
  position: absolute;
  top: 316px;
  left: 316px;
  transform: translate(-50%, -50%);
}

.product .main_product .photo .buttons {
  position: absolute;
  top: 540px;
  left: 460px;
}

.product .main_product .product_detail {
  width: 532px;
  height: 626px;
}

.product .product_detail .tag {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 6px;
}

.product .product_detail h2 {
  font-size: 60px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 6px;
}

.product .product_detail h3 {
  font-size: 24px;
  font-weight: 800;
}

.product .size {
  width: 532px;
  height: 635px;
}

.product .size .text {
  display: flex;
  justify-content: space-between;
  padding-bottom: 28px;
  padding-top: 36px;
  font-family: "Poppins", sans-serif;
}

.product .size .text .select {
  font-size: 18px;
  font-weight: 600;
}

.product .size .text .guide {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.product .size .size_display {
  flex-wrap: wrap;
  display: flex;
  gap: 18px;
  justify-content: space-between;
}

.product .size .size_display li {
  width: 92px;
  height: 92px;
  border: 1px solid #111;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product .size .size_display li a {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.product .size .btn {
  padding-top: 28px;
}

.product .size .add {
  width: 532px;
  height: 64px;
  background-color: #111;
  color: #fff;
}
/* 메인 상품 끝 */

/* 상품 상세소개 */
.about {
  height: 544px;
  position: relative;
}

.about .text {
  position: absolute;
  top: 188px;
  left: 20px;
}

.about .text h2 {
  font-size: 40px;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 28px;
  line-height: 1;
}

.about .text p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 28px;
}

.about .photo {
  position: absolute;
  top: 0;
  left: 440px;
  width: 858px;
  height: 554px;
  display: flex;
  justify-content: space-between;
}

.about .photo img {
  width: 414px;
  height: 556px;
  background-color: #e1e1e1;
}

/* 프로덕트 탑 */
.product_top {
  padding-top: 130px;
}

.product_top ul {
  display: flex;
  justify-content: space-between;
}

.product_top ul li .name {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.product_top ul li .cost {
  font-size: 18px;
  font-weight: 600;
}

.product_top .title h2 {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 26px;
}

/* 바텀 */
.footer {
  height: 394px;
  background-color: #111;
  color: #fff;
  font-family: "Poppins", sans-serif;
  position: relative;
  margin-top: 223px;
}

.footer .center_box {
  position: relative;
}

.overview {
  display: flex;
  justify-content: space-between;
}

.overview .footer_menu {
  font-family: "Poppins", sans-serif;
}

.footer_menu .contents {
  display: flex;
}

.overview .footer_menu .contents .menu_title {
  font-size: 12px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.25);
}

.overview .footer_menu .menu_family {
  line-height: 30px;
  font-size: 14px;
}

.footer .line {
  margin-right: 114px;
  margin-top: 116px;
}

.footer .footer_contents {
  margin-top: 116px;
  width: 200px;
}

.footer .footer_contents .social_icons {
  display: flex;
  justify-content: space-between;
}

.footer .footer_contents p {
  margin-bottom: 20px;
}

.footer .copyright {
  position: absolute;
  top: 350px;
  left: 0;
}
